<ion-view align='center'>
  <ion-content align='center'>
     <div id="login">
        <form id="user-form">
          <div class="login-list">
            <label class="item-input">
              <span class="input-label"><b>User Name: </b></span>
              <input name="UserName" type="text" placeholder="user name">
            </label>

            <label class="item-input">
              <span class="input-label"><b>Email: </b></span>
              <input name="Email" type="text" placeholder="email">
            </label>
          </div>

          <input class="button" type="submit" onclick="moreTempStuff()" value="Submit">
        </form>
    </div>
    <div id="info" align='center' style="display:none" >
    </div>
    <div id="logout" style="display:none; padding:3px;" >
        <button class="button" onclick='logOut()'>Log Out</button>
    </div>

    <!-- <div id="user-view-container">

        <div id="user-summary">
            <div class="row">
                <div class="col col-25">Name:</div><div class="col col-75 user-name">   </div>
            </div>
            <div class="row">
                <div class="col col-25">Email:</div><div class="col col-75 user-email">   </div>
            </div>
        </div>

        <a id="facebook-sign-in" class="button" onclick="facebookLogin()">
            Log in with Facebook
        </a>

    </div> -->

  </ion-content>

</ion-view>
